<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="log4view" xsi:type="NLogViewer" address="udp://127.0.0.1:878"/>
      <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false"/>    
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="log4view"/>
      <logger name="*" minLevel="Trace" writeTo="debugger"/>
      <logger name="*" minLevel="Trace" writeTo="file"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
